<div class="container">
<div class="row">
  <div class="col col-xs-10">
    <h3>My component </h3>
    <input type="text" [(ngModel)]="name">
    <hr><hr>
    <p>{{name}} </p>
     <app-server></app-server>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-server-binding></app-server-binding>
  </div>
</div>
<hr>
<app-game-control (eventFired)="onIntervalFired($event)"></app-game-control>

  <div class="row">
    <div class="col-xs-7">
      <app-even></app-even>
    </div>
    <div class="col-xs-5">
      <app-odd *ngFor="let odd of odds" [oddNumber]="odd"></app-odd>
    </div>

  </div>



</div>
